.introText{
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: -20px;
}

.heights{
  height: 300px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .resize-1{
    padding-top: 0;
  }
  .heights{
    height: 200px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .resize-1{
    padding-top: 10vh;
  }
  .introText{
    font-size: 2rem;
  }
  .heights{
    height: 290px;
    max-width: 420px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .resize-1{
    padding-top: 15vh;
  }
}
