#body {
    background: #5060EB;
    text-align: -webkit-center;
}
.tableHeader{
    min-width: 50%;
    max-width: 75%;
    text-align: left;
    padding: 15px;
}
#header {
}
#header-image {
    width: auto;
    height: 50%;
}
#header-text {
    min-width: 50%;
    max-width: 75%;
    text-align: right;
}
#tableHeader-text {
    color: white;
    font-size: large;
}
#tableHeader-title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
#header-title {
    color: white;
    font-size: x-large;
}

#header-subtitle {
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}
#table {
    min-width: 50%;
    max-width: 75%;
}
.footer {
    min-width: 50%;
    max-width: 75%;
    text-align: right;
    padding: 15px;
}
.input {
    min-width: 67%;
    max-width: 75%;
    text-align: left;
    height: 48px;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 12px;
}
.submit {
    min-width: 8%;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #2C3690;
    color: white;
    font-weight: bold;
}
#Footer-credits{
    color:white;
}
#tableheadcell {
    font-weight: bold;
}